Objects:
    -POS    //main
    -Event  //base
    -QueryEvent
    -EventType  //enum
    -QueryType
    -Result //base
    -User   //base  factory method
    -Client
    -Product //base  factory method
    -Account
    -Card
    -ReportGenerator    //singleton method
    -dbConnection       //singleton method

    -ResultFactory
    -UserFactory    
    -ProductFactory
    
object definitions:
POS:                    
    instance variables:
        -db                     //all info will be stored in the db
        -reportgens             //array of report generators
        -checkStockThread       //thread that will check stock levels
        -userFactory
        -prodFactory
    methods:
        --constructor()     //  multiple?
        --getters/setters   

        -EventHandler(Event)
        -performTransaction()

        -generateReports()      // generate reports at the end of the day
        -checkStock()           // a seperate thread will be used to check stock levels

User:   //base 
    instance variables:
        -id
        -name
        -email
        --accountID
    methods:
        --constructor()     //  multiple?
        --getters/setters   

client:
    instance variables:
        -id
        -name
        -email
        --accountID
    methods:
        --constructor()     //  multiple?
        --getters/setters   

employee:
    instance variables:
        -id
        -name
        -email
        -products
        --accountID
    methods:
        --constructor()     //  multiple?
        --getters/setters      

Product:       //base
    instance variables:
        -id
        -description
        -qty
        -price
    methods:
        --constructor()     //  multiple?
        --getters/setters         

        -increaseStock()
        -decreaseStock()

Account:    //base
    instance variables:
        -accountNumber
        -balance
    methods:
        --constructor()     //  multiple?
        --getters/setters         

        -deposit()
        -withdraw()   

Card:    //base
    instance variables:
        --accountNumber
        -cardNumber
        -pin
        -cardHolder
    methods:
        --constructor()     //  multiple?
        --getters/setters         

        -verifyPin()

ReportGenerator:    //base
    instance variables:
        -filepath
    methods:
        --constructor()     //  multiple?
        --getters/setters         

        -save()
        -open()       

dbConnection:
    instance variables:
        -dbPool
    methods:
        --constructor()     //  multiple?
        --getters/setters         

        static methods:     //return qry string
        -addClient(Client)
        -removeClient(Client)
        -getClient(int)

        -addEmployee(Employee)
        -removeEmployee(Employee)
        -getEmployee(int)

        -addProduct(Product)
        -removeProduct(Product)
        -getProduct(int)

        -addAccount(Account)
        -removeAccount(Account)
        -getAccount(int)
 
        -linkCard(Card)
        -unlinkCard(Card)
        -getCard(int)       


        non static methods:
        -qry()
        -nonQry()

Documentation:
    POS: 
        main loop:
            option 2 - stock management: 